<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Livingroom Controller</title>
    
    <!--remove extra "." when using Flask, ".." used for testing on local machine-->
    <link rel="stylesheet" href="./styles.css"> 

</head>
<body>
    
    <div class="container">
        
            <!--Text input area-->
        <div id="input-area">
            <input type="text" id="command-input" placeholder="Enter text...">
            <button id="send-button">↑</button>
        </div>

        <div id="keys">
            <!-- Firestick Navigation -->
            <div></div>
            <button id="FireUp" class="direction-v">▲</button>
            <div></div>
            
            <button id="FireLeft" class="direction-h">◀</button>
            <button id="FireSelect" class="FireSelect">●</button>
            <button id="FireRight" class="direction-h">▶</button>
            
            <div></div>
            <button id="FireDown" class="direction-v">▼</button>
            <div></div>

            <!--Space-->
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div>

            <!-- Firestick Controls -->
            <button id="FireBack" class="FireBack">⟲</button>
            <button id="FireHome" class="FireHome">⌂</button>
            <button id="FireMenu" class="FireMenu">≡</button>
            
            <button id="FireRewind" class="FireRewind">⏮︎</button>
            <button id="FirePlayPause" class="FirePlayPause">⏯︎</button>
            <button id="FireFastForward" class="FireFastForward">⏭︎</button>

            <!--Space-->
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div>
            
            <!-- Firestick and Pi Shortcuts -->
            <button id="FireReboot" class="FireReboot">FireStick<br>Reboot</button>
            <div></div>
            <button id="FireWake" class="FireWake">Firestick<br>Wake</button>

            <button id="RpiReboot" class="RpiReboot">Raspberry Pi<br>Reboot</button>
            <div></div>
            <button id="FireSleep" class="FireSleep">Firestick<br>Sleep</button>

            <!--Space-->
            <div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div>
            
            <!--Shortcuts-->
            <button id="Plex" class="Plex">Plex</button>
            <button id="YouTube" class="YouTube">YouTube</button>
            <button id="Prime" class="Prime">Prime</button>

            <button id="Netflix" class="Netflix">Netflix</button>
            <button id="Hulu" class="Hulu">Hulu</button>
            <button id="HBO" class="HBO">HBO</button>

            <button id="DiscoveryPlus" class="DiscoveryPlus">Disc +</button>
            <button id="ParamountPlus" class="ParamountPlus">Para +</button>
            <button id="AppleTV" class="AppleTV"></button>

            <!--Space-->
            <div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div>

            

            <!-- Soundbar Controls -->
            <button id= "SoundbarOn" class="SoundbarOn">Sound<br><span>⏻</span></button>
            <button id= "SoundbarVolMute" class="SoundbarVolMute">Mute</button>
            <button id= "SoundbarInput" class="SoundbarInput">Sound<br>Input</button>

            <button id= "SoundbarSubVolUp" class="SoundbarSubVolUp">Sub +</button>
            <br>
            <button id= "SoundbarVolUp" class="SoundbarVolUp">Vol +</button>

            <button id= "SoundbarSubVolDown" class="SoundbarSubVolDown">Sub -</button>
            <br>
            <button id= "SoundbarVolDown" class="SoundbarVolDown">Vol -</button>
            

            <!--Space-->
            <div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div>
            
            <!-- TV Controls -->
            <button id= "TVPower" class="TVPower">TV<br><span>⏻</span></button>
            <button id= "TVUp" class="direction-v">▲</button>
            <button iid= "TVInput" class="TVInput"><span>Blank</span></button>
            
            <button id= "TVLeft" class="direction-h">◀</button>
            <button id= "TVSelect" class="TVSelect">●</button>
            <button id= "TVRight" class="direction-h">▶</button>
            
            <button id= "TVBack" class="TVBack">⟲</button>
            <button id= "TVDown" class="direction-v">▼</button>
            <button id= "TVMenu" class="TVMenu">⌂</button>
            
            <button id= "TVVolMute" class="TVVolMute">Mute</button>
            <button id= "TVVolUp" class="TVVolUp">Vol +</button>
            <button id= "TVVolDown" class="TVVolDown">Vol -</button>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>
